@import '/styles/mixins';

.wrapper {
  --cols: 1;
  --max-width: 45rem;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  justify-content: space-between;
  align-items: start;
  gap: 0 var(--space-xl);
  max-width: var(--max-width);

  @include md-up() {
    --cols: 2;
    --max-width: 96rem;
  }
}

.title {
  font-size: var(--fs-lg);
  font-weight: 500;
  margin-bottom: var(--space-lg);
  grid-column-start: 1;
  grid-column-end: calc(var(--cols) + 1);

  @include sm-up() {
    font-size: var(--fs-xxl);
    margin: var(--space-xl) 0;
  }
}
